.package {
    height: 32vmax;
    width: 24vmax;
    background-size: cover;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.up {
  height: 30vmax;
  width: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bottom h3,
.bottom h5,
.bottom p {
  color: black;
  width: fit-content;
  text-align: center;
  
}
#package-bottom {
  margin-left: 0vmax;
  margin-bottom: 1vmax;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 24vmax;
  padding: 1vmax 2vmax ;
  border: 2px solid rgb(178, 177, 174);

}

/* Up elements styling */

.price {
    background-color: rgba(222, 95, 87, 1);
    width: 15vmax;
    padding: .4vmax;
    position: relative;
    font-size: 1vmax;
    margin-left:10vmax;
    text-align: center;
    top: 20px;

}
h3 .price{
    margin-left: 0;
}

.inner-box {
  display: flex;
  justify-content: space-around;
  position: relative;
  background-color: #0791be;
  padding: .7vmax; 
  border: 1px solid lightslategrey;
}
.inner-box i {
  margin-right: 8px;
}
