@media screen and (max-width: 480px) {
  .header {
    width: 100%;
    height: 100vw;
  }
  .nav_list {
    padding-top: 5vw;
    padding-bottom: 2vw;
    display: flex;
    justify-content: space-around;
    gap: 6vh;
    
  }
  .navigation-bar {
    height: 10vh;
    display: flex;
    flex-direction: column;
  }
  .links {
    position: relative;
    justify-content: center;
    background-color: rgba(187, 187, 187, 0.672);
    color: black;
    left: -100%;
   
  }
  .show{
    left: 0%;
  }
  .nav-links {
    width: fit-content;
    color: black;
    font-weight: 700;
    margin-top: 3vw;
    
    padding-top: 4vw;
    display:block;
  margin-left: 42vw;
  }

  #logo {
    font-size: 4vh;
  }

  ._repo_icons {
    display: block;
    font-size: 10vw;
    padding-top: 1.4vh;
  }
  .fa-xmark{
    display: none;
  }

  #banner-text {
    font-size: 3vh;
    margin-top: 33vh;
  }
  #banner-para {
    display: none;
  }
  .banner_text_para{
    margin-bottom: none;
  }
  #bt2 {
    margin-top: 1vh;
    margin-left: 15vh;
    font-size: 1.9vh;
    border-radius: 2vh;
    translate: 0 -5vw;
  }
  
  #bt1_header {
    margin-left: 40vw;
    margin-bottom: 4vw;
    font-size: 1.4vh;
    font-weight: 600;
    border-radius: 2vh;
    height: 30px;
    width: 100px;
    color: rgb(255, 255, 255);
    padding: 6px;
    background-color: rgba(222, 95, 87, 1);
    cursor: pointer;
    border-radius: 3vw;
  }
}
