@media screen and (max-width: 680px) {
  .header {
    width: 100%;
    height: 100vw;
  }
  #header {
    width: 100%;
    height: 500px;
    background-image: url("https://cdn.pixabay.com/photo/2017/03/05/00/34/panorama-2117310_1280.jpg");
    background-size: cover;
    filter: contrast(0.9);
    color: white;
    overflow: hidden;
  }
  .nav_list {
    padding-top: 5vw;
    padding-bottom: 2vw;
    display: flex;
    justify-content: space-around;
    gap: 6vh;
  }
  .navigation-bar {
    height: 10vh;
    display: flex;
    flex-direction: column;
  }
  .links {
    position: relative;
    justify-content: center;
    background-color: rgba(187, 187, 187, 0.672);
    color: black;
    left: -100%;

    padding-bottom: 6vw;
  }
  .show {
    left: 0%;
  }
  .nav-links {
    width: fit-content;
    color: black;
    font-size: 2vmax;
    font-weight: 700;
    margin-top: 3vw;
    padding: 4vw 0vw 0vw 0vw;
    border: 0px solid transparent;
    display: block;
    margin-left: 41vw;
  }
 
  
  
  .nav-links:hover{
    border: 0px solid transparent;
    border-radius: 4vw;
    padding: 4vw 0vw 0vw 0vw;
  
  }
  

  #logo {
    width: 40%;
    font-size: 4vh;
    display: flex;
    text-align: center;
    margin-left: 5vw;
    margin-top: 3vw;
    padding-top: 2vw;

  }
  #logo i {
 
    font-size: 2.4vmax;
    margin-left: 5px;
  }
  .fa-plane-departure{
    margin-top: 3vw;
    margin-left: 3vw;
  }

  ._repo_icons {
    display: block;
    font-size: 10vw;
     width: 60%;
     text-align: end;
    padding-top: 1.9vh;
    margin-right: 8vw;
    
  }
  .fa-xmark {
    display: none;
  }

  #banner-text {
    font-size: 3vh;
    margin-top: 28vh;
  }
  #banner-para {
    display: none;
  }

  .bt-t1 {
    height: 4vmax;
    width: 15vmax;
    color: white;
    font-weight: 600;
    padding: 6px;
    background-color: rgba(222, 95, 87, 1);
    cursor: pointer;
    border-radius: 5px;
  }

  #bt2 {
    margin-top: 4vh;
    padding: .5vmax 0 2vmax 0;
    margin-left: 34%;
    font-size: 1.6vmax;
    border-radius: 2vh;
    translate: 0 -5vw;
  }

  #bt1_header {
    
    margin-left: 40vw;
    margin-bottom: 4vw;
    font-size: 1.4vh;
    font-weight: 600;
    border-radius: 2vh;
    height: 30px;
    width: 100px;
    color: rgb(255, 255, 255);
    padding: 6px;
    background-color: rgba(222, 95, 87, 1);
    cursor: pointer;
    border-radius: 3vw;
    display: none;
  }
  #booking-main {
    height: 60vmax;
    width: 40vmax;
    border: 2px solid rgb(110, 103, 103);
    background-color: rgba(13, 13, 13, 0.629);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 0.5vw;
    padding: 10px;
    position: fixed;
  
    top: 2vw;
    left: 10%;
    right: 20%;
    z-index: 3;
    translate: 0 40vw;
  }
  .form_parent{
    display: none;
    width: 100.2vw;
    height: 100.3vh;
    background-color: rgba(237, 218, 218, 0.378);
    z-index: 2;
    position: fixed;
    translate: 0 -121.2vw;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    margin-left: 2vw;
  }
  label {
    color: rgb(255, 255, 255);
    margin: 0px 0px 10px 10px;
    font-size: 5vw;
  }
  input,
  select {
    margin-left: 10px;
    margin-bottom: 3vw;
    width: 90%;
    height: 39px;
    font-size: 1.1em;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-align: center;
    border-radius: 2vw;
    background-color: rgb(255, 255, 255);
  }
  option {
    color: black;
  }
  #bt1_popup {
    margin-left: 22vw;
    font-size: 1.9vh;
    border-radius: 2vh;
    font-weight: 500;
    height: 40px;
    width: 150px;
    color: rgb(255, 255, 255);
    padding: 8px;
    background-color: rgba(222, 95, 87, 1);
    cursor: pointer;
    border-radius: 3vw;
  }
  .cross {
    width: fit-content;
    background-color: rgba(222, 95, 87, 1);
    position: relative;
    padding: 0.7vw 2vw 0.7vw 2vw;
    margin-left: 38vw;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 900;
    border-radius: 3vw;
    font-size: 5vw;
  }
}
