*{
    margin: 0;
    padding: 0;
    color: #f7f3f3;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer{
    width: 100%;
    background: #111;
}
.footer-content{
    display: flex;
    padding-bottom: 45px;
}
.footer-box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.footer-box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.footer-box .content{
    margin: 20px 0 0 0;
}
.left .content p{
    text-align: justify;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .footer-social a{
    padding: 0 6px;
}
.center box {
    line-height: 40px;

}
.left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background: #f12020;

}
.text-footer{
    text-align: center;
    padding: 20px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1717;
    color: rgb(250, 251, 251);
}

#bt1{
    height: 40px;
    width: 150px;
    color: white;
    padding: 8px;
    background-color: rgba(222,95,87,1);
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}
.footer-copyright{
    text-align: center;
}